<html>


<body>

<h1> Enter the college you plan to dual enroll at </h1>

<form action= "" method="POST">
    <select name="college"> 
    <option value="Georgia Tech"name ="college" >Georgia Tech </option>
    <option value="Kennesaw State"  name= "college" > Kennesaw State </option>
    <option value="University of Georgia">  University of Georgia </option>
    <option value="Georgia Gwinnett College">Georgia Gwinnett College  </option>
    
    <br> <br>
    <input type="submit" value="Submit"> 
</form>



<!--Once submitted, list courses that a student can take. Click to expand prequisites  -->


</body>



</html>
