<html>

<body>

<h2>Welcome to the dual enrollment advisor program </h2>
<h3>Enter your AP test scores below. If you have no taken the class, leave the section blank </h3>

<!-- AP classes below change to url for later-->
<form method="POST" action= "/"> 
    <label>AP Biology:</label> 
    <input type="number" name="AP Biology" min="0" max="5" value= "0" >  <br>
    <label>AP Physics 1:</label>
    <input type="number" name="AP Physics 1" min="0" max="5" value= "0">  <br>
    <label>AP Physics C Mechanics:</label>
    <input type="number" name="AP Physics 1" min="0" max="5" value= "0"> <br>
    <label>AP Physics C E&M:</label>
    <input type="number" name="AP Physics 1" min="0" max="5" value= "0" > <br>
    <label>AP Computer Science A:</label>
    <input type="number" name="AP Physics 1" min="0" max="5" value= "0"> <br>


<!-- Process input and continue on --> 
<input type="submit" value="Continue" onclick="cont()"> 
</form>
<!-- Scroll down for other examination tests -->


</body>

<script>
function cont()
{

}

</script>


</html>
